<div class = "projectContainer">
    <div class = "detailNav">
        <button (click) = "removeProject()" class = "btn-danger"><i class = "glyphicon glyphicon-remove"></i></button>
        <button (click) = "editProject()" class = "btn-primary"><i class = "glyphicon glyphicon-pencil"></i></button>
    </div>
    
    <div class = "projectImage">
        <p *ngIf = "typeOfProject == 'Application'">
            <i class = "glyphicon glyphicon-phone"></i>
        </p>

        <p *ngIf = "typeOfProject == 'Website'">
            <i class="fa fa-desktop"></i>
        </p>
    </div>

    <div class = "projectInformationContainer">
        <div class = "projectName">
            <h2>{{ name }}</h2>
            <hr>
        </div>

        <div class = "projectDescription">
            <h4>{{ description }}</h4>
            <hr>
        </div>

        <div class = "developerTeam">
            <i class = "fa fa-cog"></i>
                <h4>Developers</h4>
                <h5>{{ developer }}</h5>
        </div>

        <div class = "clientList">
            <i class = "fa fa-user"></i>
                <h4>Client</h4>
                <h5>{{ client }}</h5>
        </div>
    
        <div class = "typeOfProject">
            <p *ngIf = "typeOfProject == 'Application'">
                <i class = "glyphicon glyphicon-phone"></i>
            </p>

            <p *ngIf = "typeOfProject == 'Website'">
                <i class="fa fa-desktop"></i>
            </p>
            <h4>Project Type</h4>
            <h5>{{ typeOfProject }}</h5>
        </div>

        <div class = "completedStatus">
            <p *ngIf = "completed">
                <i id = "finished" class = "glyphicon glyphicon-ok"></i>
            </p>

            <p *ngIf = "!completed">
                <i id = "unfinished" class="glyphicon glyphicon-remove"></i>
            </p>
            <h4>{{ completedText }}</h4>
            <h5>-</h5>
        </div>
    </div>

</div>