<div class="main">
    <h1>Projecten</h1>
    <div class="wrapper">
        <div class="get" *ngFor="let project of projects">
            <table>
                <tr>
                    
                </tr>
                <tr>
                    <h3>{{project.name}}</h3>
                    
                </tr>
                <tr>
                    <h3>{{project.developer}}</h3>
                </tr>
                <tr>
                    <h3>{{project.client}}</h3>
                    <button (click) = "removeProject()" class = "btn-danger"><i class = "glyphicon glyphicon-remove"></i>Remove Project</button>
                    <button (click) = "editProject()" class = "btn-primary"><i class = "glyphicon glyphicon-pencil"></i>Edit Project</button>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="post">
    <h1>Maak een nieuw project aan</h1>
    <div class="form-group">
        <input [(ngModel)] = "projectName" type="text" class="form-control" id="name" placeholder = "Project Name" required>
    </div>
    <div class="form-group">
        <input [(ngModel)] = "projectDeveloper" type="text" class="form-control" id="developer" placeholder = "Project Developer" required>
    </div>
    <div class="form-group">
        <input [(ngModel)] = "projectClient" type="text" class="form-control" id="client" placeholder = "Project Client" required>
    </div>
    <div class = "form-group">
        <input (click) = "addProject()" class = "btn btn-default" type="submit" value = "Add">
    </div>
</div>



