* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0px; padding:0px;
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

main {
  padding:4em;
  flex: 1 0 auto;
  min-height:80vh;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}



h1,h2,h4,h5,h6 {
  color: #369;
}

h3 {
  color: #000
}

footer {
  background-color:darkgrey;
  font-size:0.85rem;
  color:white;
  padding:2em;
  margin-top:40px;
  height:20vh;
}

footer a, footer a:visited {
  color:white;
}